.table-row-cell:empty {
    -fx-background-color: whitesmoke;
}


.table-row-cell:selected{
    -fx-background-color: gainsboro;
    -fx-text-fill: green;
}

.table-row-cell:selected .text {

    -fx-fill: black ;

}